/*!
 *Code by Laureano Ruiz Pérez for its Web Portfolio
 */
   
nav {
    position:relative;
    z-index: 999;
}

nav ul li:hover {
   background-color: #424242;
}

.card {
    border-radius: 8px;
}

.card .card-title {
    font-family: "Roboto Mono";
    font-size: 20px;
    font-weight: 350;
}

.card .card-image img {
    border-radius: 8px 8px 0px 0px;
}

.titles{
    font-family: "Roboto Mono";
    font-size: 25px;
    }

.navbar_title {
    font-family: "Roboto Mono";
    font-size: 1.2rem;
}

.navbar_categories {
    font-family: "Roboto Mono";
    font-size: 1.2rem;
}

#contact {
    padding: 0rem;
}

/* Colors of the input lines on the email form */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #f50057;
     box-shadow: 0 1px 0 0 #f50057;
}
.input-field input[type=email]:focus {
     border-bottom: 1px solid #f50057;
     box-shadow: 0 1px 0 0 #f50057;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #f50057;
}

#social {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 14rem;
}

#copy {
    padding: 1.4rem;
    }

.modal.bottom-sheet {
    max-height: 75%;
}

/* Trying to copy the hide-on-med-and-down class of MaterializeCSS */
@media only screen and (max-width: 992px) {
  .navbar_categories {
    display: none !important;
  }
}

@media only screen and (max-device-width: 720px) {
    .container {
        width: 75%;
    }
    
    #social {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0rem;
        }
    }