/*!
Code by Laureano Ruiz Pérez for its Web Portfolio.
Remember using ";"
Remember the tree style sintax (dots, #, parents...)
*/

body {overflow-x: hidden;
    }

nav {
    position:relative;
    z-index: 999;
}

/*!
".nav-wrapper" is the main navbar with all the components, it uses "display:flex" so it can be centered
".navbar_categories" are the navbar components except the language selector, ".lang-drop"
Both have to be separated because the language selector must be fixed to the right side
They are separated, but use the same hover effect, so its contained on a single line ("nav ul li:hover, nav ul li.lang-drop > a:hover {...}")
*/

.nav-wrapper {
    display: flex;
    justify-content: center;
}

nav ul li a.navbar_categories{
    display: inline-block;
    align-content: center;
    padding: 0rem 2.5rem 0rem 2.5rem;
}

nav ul li.lang-drop > a {
    position: absolute;
    right: 0;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

nav ul li:hover, nav ul li.lang-drop > a:hover {
    background-color: #424242;
}

.card .card-content.above_image {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.card {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #CFCFCF;
}

.md2card {
    box-shadow: none;
}

.md2card:hover {
    transition: box-shadow .25s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card-content {
    overflow: auto;
}

.card-content .card-title {
    font-family: "Product Sans";
    font-size: 20px;
    font-weight: 350;
    width: 90%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card-content .mdi{
   width: 10%;
}

.card .card-image img {
    border-radius: 8px 8px 0px 0px;
}

.card .card-image-photo img {
    border-radius: 8px;
    width: 100%;
}

.no_border {
     border-width: 0px;
}

.materialboxed:hover:not(.active) {
  opacity: 1;
}

.navbar_categories {
    font-family: "Roboto Mono";
    font-size: 1.2rem;
}

.hero_titles{
    font-family: "Product Sans";
    font-size: 25px;
    letter-spacing: 6px;
    }

.cv_titles{
    font-family: "Product Sans";
    }

#contact {
    padding: 0rem;
}

/* Colors of the input lines on the email form */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #E32D55;
     box-shadow: 0 1px 0 0 #E32D55;
}
.input-field input[type=email]:focus {
     border-bottom: 1px solid #E32D55;
     box-shadow: 0 1px 0 0 #E32D55;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #E32D55;
  box-shadow: 0 1px 0 0 #E32D55;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #f50057;
}

#social {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 14rem;
}

#copy {
    padding: 1.4rem;
    }

.modal.bottom-sheet {
    max-height: 75%;
}

.oospink {
  background-color: #E32D55 !important;
}

.oospink-text {
  color: #E32D55 !important;
}

@media only screen and (min-width: 992px) {
    #modal_mailform.bottom-sheet {
      width: 70%;
      border-radius: 8px 8px 0 0;
        margin: auto;
    } 
  }

.btn_with_border {
    border-width: 1px;
    border-style: solid;
    border-color: #CFCFCF;
}

.btn, .btn-large,
.btn-flat {
    border-radius: 4px;
    text-transform: none;
    font-family: "Product sans";
}

/* Trying to copy the hide-on-med-and-down class of MaterializeCSS */
@media only screen and (max-width: 992px) {
  .navbar_categories {
    display: none !important;
  }
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@media only screen and (max-device-width: 720px) {
    .container {
        width: 80%;
    }
    
    #social {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0rem;
        }
    }