/*!
 *Code by Laureano Ruiz Pérez for its Web Portfolio
 */

    .titles{
            font-family: "Roboto Mono";
            font-size: 25px;
        }

    .navbar_categories {
            font-family: "Roboto Condensed";
            font-size: 1.2rem;
    }

    #contact {
            padding: 0rem;
        }

    #social {
            display: flex;
            justify-content: space-around;
            padding: 0.2rem 14rem;
        }

    #copy {
            padding: 1.4rem;
        }
    @media only screen and (max-device-width: 720px) {
        .container {
            width: 75%;
        }
        #social {
            display: flex;
            justify-content: space-around;
            padding: 1rem 0rem;
            }
        }